* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background: url("../../public/image/img3.jpg");
    color: #fff;
    background-size: cover;
    opacity: 0.9;
    background-repeat: no-repeat;
  
  }
  h1 {
    text-align: center;
    margin: 3rem 0 5rem 0;
    color: rgba(235, 232, 216, 0.514);
  }
  
  .accordion {
    max-width: 600px;
    margin: 2rem auto;
  }
  
  .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgba(8, 49, 60, 0);
  }
  
  .title:hover {
    background-color: #3ab4cc;
  }
  
  .title{
    padding: 1rem;
  }
  .content {
    max-height: 0; 
    margin-left: 15px;
    overflow: hidden;
  }
  .content.show{
    max-height: 200px;
  }
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }